# Session 1
## In this we learnt about the installation of anaconda and set up of jupyter notebook 
### Then learnt about how to use the headings in jupyter. Then we done some basics of python which included data types, variables and different data structure like list, tuple and dictionary. 
#### Contents:- 
- **print** statement
- Variable
- Data types
    * Integer
    * character/string
    * complex
    * float
    * boolean
- Data Structure
    * List
    * Tuples
    * Dictionary
    * Set

### Print Statement

In [1]:
print("Hello world!!")

Hello world!!

### Variable and the rules for writing variable
#### Variable is nothing but an object which is used to store some values. this is useful when we want to accept some value from **USER**
##### There are some rules for defining the variable

In [3]:
variable1 = "apple"
print(variable1able1)

apple

##### From the above code we can say that variable name can have Alphabets as well as numbers from 0 to 9

In [4]:
1variable = "bananan"
print(1variable)

SyntaxError: invalid syntax (Temp/ipykernel_8804/3131595307.py, line 1)

##### From the above code we can say that numbers should not be at the starting

In [5]:
variable? = "chikoo"

SyntaxError: invalid syntax (Temp/ipykernel_8804/1901388618.py, line 1)

##### From the above code we can say that we cannot use any special characters.. But there is an exception

In [6]:
variable_1 = "sharath"

##### From the above code we can say that we can use underscore _ in the variable name and even at the starting. for e.g.:- _variable1 is a legal variable name

## Finally what are the rules of writing a variable name

1. Variable can have alphanumeric values i.e. A-Z,a-z and 0-9 digits
2. Numbers cannot be added at the starting of the variable name i.e. you cannot have a variable named as 1variable. 
3. We cannot use any special character except underscore (_) 
4. Underscore can also be used at the starting of the variable name.
5. Python is case sensitive
6. Space is not allowed

## Data types
____
- Integer
- String
- Float
- Boolean
- complex

## Type function is used to get the data type of the variable

## Integer
#### These are the values which doesn't have any decimal place

In [8]:
a = 12
print(a)
print(type(a))

12
<class 'int'>

## String
#### string is nothing but characters like A-Z, a-z or any other special characters which is written in the double quotes _(" ")_ or single quotes _(' ')_

In [9]:
string_variable = "sharath"
string_variable_2 = 'apple'
print(type(string_variable), type(string_variable_2))

<class 'str'> <class 'str'>

#### If we write any value inside the quotes it will be treated as string whether it is integer or any other data type, once written inside the quotes it is treated as string

# Float
### float values are numbers that have decimal points in them. for e.g.:- 4.21, 5.2333, etc

In [11]:
float_variable = 4.333
print(float_variable)
print(type(float_variable))

4.333
<class 'float'>

In [12]:
variable_1 = "4.3233" 
print(type(variable_1))

<class 'str'>

#### As you can see that evethough the above variable has float value since, it is written inside the paranthesis it is treated as String

# Boolean
### this is nothing but values like True of False

In [13]:
bool_variable = True
print(bool_variable)
print(type(bool_variable))

True
<class 'bool'>

In [14]:
bool_variable_1 = "False"
print(bool_variable_1)
print(type(bool_variable_1))

False
<class 'str'>

#### since the value is written inside the quotes hence it is treated as string eventhough the value is boolean

# Complex
#### Complex numbers are nothing but the value which is written in a+jb value i.e. real +j imaginary

In [16]:
complex_variable = 2+3j
print(complex_variable)
print(type(complex_variable))

(2+3j)
<class 'complex'>

## Now we can conclude the data types and go to the Data structure part

# Data Structures in Python
## Contents:- 
- List
- Tuple
- Set
- Dictionary

# List
## Features of list
1. Allows heterogenous (elements can be of different data types)
2. Index starts from 0
3. elements of the list is mutable i.e the value once assigned can be changed
4. [] is the representation of the list
5. To access the elements of the list we can use the index value

In [23]:
list_1 = ['apple',1,1.3,True,'sharath']
print(list_1)
print(type(list_1))

['apple', 1, 1.3, True, 'sharath']
<class 'list'>

In [24]:
list_1[3]

True

In [25]:
print(list_1)
list_1[2] = 3.44
list_1

['apple', 1, 1.3, True, 'sharath']

['apple', 1, 3.44, True, 'sharath']

In [28]:
#reversing the list
list_1.reverse()
list_1

['sharath', True, 3.44, 1, 'apple']

# Tuple
## Features of tuple
1. Allows heterogenous
2. Index starts with 0 and retrieve using index
3. Cannot change data once declared - immutable
4. () is the representation of tuple

In [29]:
tuple_1 = (1,3.22,True,'sharath',1+2j)
print(tuple_1)
print(type(tuple_1))

(1, 3.22, True, 'sharath', (1+2j))
<class 'tuple'>

### For creating a tuple we dont need the circular bracket as shown in the below example

In [31]:
tuple_2 = 1,3.22,True,'sharath',1+2j
print(tuple_2)
print(type(tuple_2))

(1, 3.22, True, 'sharath', (1+2j))
<class 'tuple'>

In [32]:
tuple_2[2]

True

In [33]:
tuple_2.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

### Since tuple is immutable hence, we cannot reverse or change anything in the tuple
### this means we cannot even change the value at an index

In [34]:
#e.g.:- 
tuple_2[0] = 10

TypeError: 'tuple' object does not support item assignment

# Set
1. Heterogenous values
2. Does not allow duplicate values
3. Cannot be accessed using index
4. immutable using index but it can be mutate using various functions

In [35]:
set_1 = {1,2,3,1,1,5,4,'sharath','hi','sharath',True,'hi'}
print(set_1)

{1, 2, 3, 4, 5, 'sharath', 'hi'}

In [36]:
set_1[2]

TypeError: 'set' object is not subscriptable

In [37]:
set_1[2] = 100

TypeError: 'set' object does not support item assignment

In [38]:
set_1.remove('hi')
set_1

{1, 2, 3, 4, 5, 'sharath'}

In [39]:
set_1.add('Hi')
set_1

{1, 2, 3, 4, 5, 'Hi', 'sharath'}

# Dictionary
## Features of Dictionary
1. Dictionary has key-value pair data structure
2. Key is unique and value can be duplicated
3. Can retrieve the value using the key
4. can change the value using key 
5. Key is immutable

In [43]:
dict_1 = {'a':'apple',1:'sharath',2:'banana',4:'chikoo',5:'apple'}
type(dict_1)

dict

In [44]:
print(dict_1)

{'a': 'apple', 1: 'sharath', 2: 'banana', 4: 'chikoo', 5: 'apple'}

In [45]:
dict_1[1]

'sharath'

In [46]:
dict_1['a'],dict_1[5]

('apple', 'apple')

## value cannot be used to access the key

In [48]:
dict_1['apple']

KeyError: 'apple'

In [49]:
dict_1[6] = 'mango'
dict_1

{'a': 'apple', 1: 'sharath', 2: 'banana', 4: 'chikoo', 5: 'apple', 6: 'mango'}

### We cannot reverse the dictionary using any function too

# <center> _END OF THE SESSION_ </center>